<!-- home.component.html -->
<div class="home-container">
    @for (box of boxes; track $index) {

        <div class="box" [ngClass]="{ 'locked': !box.completed }">
            <a [routerLink]="['', box.gameName]">
            @if (!box.completed) 
            {
               <span>🔒</span>
                
            }
            @else {
                <div>{{box.letter}}</div>}
                </a>
          </div>

    }
  </div>
  
<!-- Progress Tracker (Optional) -->
<div class="progress">
    <p>Progress: {{ completedGames }} / 9 games completed</p>
  </div>
  